@import url('http://fonts.cdnfonts.com/css/inter');

.commingSoon {
  height: 508px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .commingSoon__pic {
    width: 216px;
    height: 96px;
  }
  .commingSoon__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 784px;
    font-family: "Inter", sans-serif;
    .article__title {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #3D3D3D;
    }
    .article__description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      color: #3D3D3D;
    }
  }
}

@media screen and (max-width: 360px) {
  .commingSoon {
    height: 524px;
    .commingSoon__pic {
      width: 216px;
      height: 96px;
    }
    .commingSoon__article {
      width: 328px;
      .article__title {
        font-size: 22px;
        line-height: 32px;
      }
      .article__description {
        color: #3D3D3D;
      }
    }
  }
}