@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
@import url("http://fonts.cdnfonts.com/css/inter");
.heroFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  border-bottom: 1px #DFDFDF solid;
}
.heroFooter .heroFooter__avatar {
  width: 56px;
  height: 56px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
}
.heroFooter .heroFooter__link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #5E20A4;
  margin-left: 1.5vh;
}
.heroFooter .heroFooter__schedule {
  font-family: "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 1vh;
}

.navFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navFooter .navFooter__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  position: relative;
  left: 170px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #3D3D3D;
}
.navFooter .navFooter__links :hover {
  text-decoration: underline;
}
.navFooter .navFooter__midias {
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}
.navFooter .navFooter__midias :hover {
  background-color: #d7cee2;
  border-radius: 50%;
  color: #DFDFDF;
  height: 47px;
}

.generalFooter .generalFooter__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #3D3D3D;
}

@media screen and (max-width: 360px) {
  .heroFooter {
    flex-direction: column;
    width: 360px;
    justify-content: space-around;
    margin-top: 0;
  }
  .heroFooter .heroFooter__link {
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
    width: 212px;
    text-align: center;
  }
  .heroFooter .heroFooter__schedule {
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 1vh;
  }

  .navFooter {
    display: flex;
    width: 217px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
  }
  .navFooter .navFooter__links {
    display: flex;
    align-items: unset;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 217px;
    position: unset;
    left: 0;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
  }
  .navFooter .navFooter__links .links__text {
    margin-right: 10px;
  }
  .navFooter .navFooter__logo {
    width: 64px;
    height: 24px;
    align-self: center;
  }
  .navFooter .navFooter__midias {
    margin-left: 0px;
    margin-top: 20px;
  }

  .generalFooter .generalFooter__text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #3D3D3D;
  }
}/*# sourceMappingURL=footers.css.map */