.logo {
  width: 48px;
  height: 64px;
  background-color: #00C88C;
  display: flex;
  position: absolute;
  left: 20px;
  border-radius: 0 0 32px 32px;
  align-items: end;
  justify-content: center;
  .logo__img {
    height: 22px;
    position: relative;
    bottom: 10px;
  }
}