@import url('http://fonts.cdnfonts.com/css/inter');

.playBtn {
  display: flex;
  justify-content: left;
  align-items: center;
  .playBtn__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #00A870;
    color: #ffffff;
    border: none;
    font-size: 20px;
    svg {
      position: relative;
      left: 2px;
    }
  }
  .playBtn__message {
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #ffffff;
  }
}

.basicBtn {
  background-color: #00A870;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  height: 44px;
  border-radius: 4px;
  border: none;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  padding: 0 4vh;
  align-self: center;
}