.lastInfo {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .lastInfo__text {
    text-align: center;
    color: #3D3D3D;
    font-style: normal;
    font-family: Inter;
    margin-top: 50px;
    .text__title {
      font-weight: 500;
      font-size: 28px;
      line-height: 32px;
    }
    .text__description {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }
  .lastInfo__link {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #5E20A4;
  }
}